<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakash.sss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSS">
        <activity
            android:name=".Activitys.TimeTable"
            android:exported="false" />
        <activity
            android:name=".Activitys.MainActivity2"
            android:exported="false" />

        <activity
            android:name=".Activitys.HomeAcivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Info"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Teacher"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.UpdateStudent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.DeleteStudents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.ShowStudents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.AddStudents"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.StudentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Signup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>